<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.pedroscott.movies_feature">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApp">
        <activity
            android:name=".feature.LibMainActivity"
            android:exported="true" />
    </application>

</manifest>